* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
    background-image: linear-gradient(190deg, white, green, blue);
    min-height: 100vh;
}

header {

    font-size: 1.5rem;

}

header, form {
    align-items: center;
    min-height: 20vh;
    display: flex;
    justify-content: center;
}

form input, form button {
    padding: .5rem;
    font-size: 2rem;
    border: none;
    background: white);

}

form button {
    color:rgb(238, 230, 238);
    background: blue;
    cursor: pointer;
    transition: all .5s ease;
}

form button:hover {
    background: silver;
    color: white;

}

.todo-container {
display: flex;
justify-content: center;
align-items: center;

}

 .todo-List{
min-width: 30%;
list-style: none;
padding-bottom: 2rem ;
}


/************ elements created in JS*/
.todo {
margin: 0.5 rem;
background-color: white;
color: black;
font-size: 1.5rem;
display: flex;
justify-content: space-between;
align-items: center;
}

.todo li {

    flex: 1;
}

/**********elements created in JS*/